<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="articleLink">Link:</label><br>
        <input type="text" id="articleLink" name="articleLink"><br>
      </form>
</body>
</html>